@import "../../styles/variables";
@import "../../styles/mixins";

.coming-soon {
  height: calc(100vh - 85px);
  background: $background;
  margin: 0 auto;


  .coming-soon-header-wrap {
    width: 600px;
    margin: 0 auto;
    text-align: center;
    padding-top: 120px;
    padding-bottom: 60px;

    h1{
        padding-bottom: 10px;
    }
  }
  .coming-soon-CTA{
    margin: 20px;
      .request-help{
          @include button($primary-color,$snow-white);
          margin: 10px;
          min-width: 155px;
      }

      .offer-help{
        @include button($background,$primary-color);
        margin: 10px;
        min-width: 155px;
    }

      
  }

  .coming-soon-footer-wrap {
    width: 500px;
    margin: 0 auto;
    padding-top: 40px;
    display: flex;
    justify-content: space-between;

    a{
        margin-bottom: 15px;
        font-size: 1.2rem;

        button{
            @include button($primary-color, $snow-white);
            font-weight: 400;
            padding: 10px 15px;
            border: 2px solid black;
            border-radius: 6px;
        }
        
    }
  }
}
