@import "../../styles/variables";
@import "../../styles/mixins";

.nav {
    display: flex;
    justify-content: space-between;
    padding: 0px 32px;
    height: $header-nav-height;
    align-items: center;
    background: $background;
    overflow-y: hidden;

    .left-nav {
        margin-left: 10px;

        a {
            font-size: 1.4rem;
            font-weight: 700;
            width: 100%;
        }

        &__word-logo {
            // width: 255px;
        }
    }

    .right-nav {
        // width: 350px;
        text-align: right;

        button {
            font-weight: 500;
            min-width: 80px;
            border: 1.5px solid $primary-color;
            border-radius: 6px;
            color: $primary-color;
            background-color: transparent;
            margin-right: 10px;
            padding: 9px 18px;
        }
        button:hover {
            cursor: pointer;
        }
        .signup {
            border: 1.5px solid $primary-color;
            color: $background;
            background-color: $primary-color;
        }
    }
}
