@import "../../styles/variables";
@import "../../styles/mixins";

.nav {
  display: flex;
  justify-content: space-between;
  padding: 0px 10px;
  height: 75px;
  min-height: 80px;
  align-items: center;
  background: $background;
  overflow-y: hidden;

  .left-nav {
    width: 350px;
    margin-left: 15px;

    a{
      font-size: 1.4rem;
      font-weight: 700;
    }

    &__word-logo {
      width: 125px;
    }
  }
  .center-nav {
    width: 350px;

    ul {
      display: flex;
      justify-content: space-between;
      height: 100px;
      align-items: center;

      li {
        color: rgb(109, 109, 109);
        margin-right: 35px;
        a {
          text-decoration: none;
          font-size: 2.1rem;
          font-weight: 400;
        }
      }
    }
  }
  .right-nav {
    width: 350px;
    text-align: right;

    button {
      font-weight: 500;
      min-width: 80px;
      border: 1.5px solid $primary-color;
      border-radius: 6px;
      color: $primary-color;
      background-color: transparent;
      margin-right: 10px;
      padding: 9px 18px;
    }
    button:hover {
      cursor: pointer;
    }
    .signup {
      border: 1.5px solid $primary-color;
      color: $background;
      background-color: $primary-color;
    }
  }
}
