version: 2.1
orbs:
    node: circleci/node@1.1.6
jobs:
    build-and-test:
        executor:
            name: "node/default"
            tag: "10.19.0"
        steps:
            - checkout
            - node/with-cache:
                  steps:
                      - run: yarn install
                      - run: cd functions && yarn test
workflows:
    build-and-test:
        jobs:
            - build-and-test
