@import "../../styles/variables";
@import "../../styles/mixins";


div{

    .search_result_container{
        
        &:hover{
        }
    

    .search_result_dropdown{

        .search_result_dropdown_item{
            -webkit-box-shadow: 1px 1px 4px -1px rgba(0, 0, 0, 0.47);
            -moz-box-shadow: 1px 1px 4px -1px rgba(0, 0, 0, 0.47);
            box-shadow: 1px 1px 4px -1px rgba(0, 0, 0, 0.47);
            background: white;
            &:hover{
                cursor: pointer;
                background: $background;
            }
        }
        
        .active{
        }

    }
}



}