@import "../../styles/variables";
@import "../../styles/mixins";

.offer-help {
    height: calc(100vh - #{$header-nav-height});
    background: $background;
    display: flex;
    flex-direction: column;
    justify-content: center;

    h1 {
        text-align: center;
        margin-bottom: 5px;
        @media (max-width: 800px) {         
            font-size: 1.5rem;
        }
        @media (max-width: 480px) {
            font-size: 1.25rem;
        }
    }

    h3 {
        text-align: center;
        margin-bottom: 45px;
        @media (max-width: 800px) {         
            font-size: 1.4rem;
            margin-bottom: 35px;
        }
        @media (max-width: 480px) {
            font-size: 1.1rem;
            margin-bottom: 25px;
        }
    }

    &__cta {
        display: flex;
        margin: 0 auto;
        margin-bottom: 40px;
        justify-content: space-between;
        width: 62%;
        max-width: 550px;
        @media (max-width: 800px) {
            width: 83%;
        }
        @media (max-width: 480px) {
            width: 95%;
        }

        &__dispatch {
            display: flex;
            flex-direction: column;
            width: 40%;
            padding: 10px;
            border-radius: 6px;
            background: white;
            -webkit-box-shadow: 0px 1px 5px -1px rgba(0, 0, 0, 0.47);
            -moz-box-shadow: 0px 1px 5px -1px rgba(0, 0, 0, 0.47);
            box-shadow: 0px 1px 5px -1px rgba(0, 0, 0, 0.47);
            &:hover {
                cursor: pointer;
            }
            @media (max-width: 480px) {
                padding: 8px;
                width: 45%;
            }

            img {
                margin: 0 auto 5px auto;
                width: 105px;
                height: 150px;
                @media (max-width: 800px) {         
                    width: 95px;
                    height: 133px;
                }
                @media (max-width: 480px) {
                    width: 75px;
                    height: 113px;
                }
            }
            button {
                font-size: 1.2rem;
                @include button($primary-color, $snow-white);
                margin: 0 auto;
                font-weight: 400;
                padding: 10px 15px;
                background: $primary-color;
                width: 180px;
                border-radius: 6px;
                height: unset;
                text-align: center;
                border: none;
                @media (max-width: 800px) {
                    font-size: 14px;
                    width: 140px;
                }
                @media (max-width: 480px) {
                    font-size: 12px;
                    width: 120px;
                }
            }
        }
        &__volunteer {
            display: flex;
            flex-direction: column;
            width: 40%;
            padding: 10px;
            border-radius: 6px;
            background: white;
            -webkit-box-shadow: 0px 1px 5px -1px rgba(0, 0, 0, 0.47);
            -moz-box-shadow: 0px 1px 5px -1px rgba(0, 0, 0, 0.47);
            box-shadow: 0px 1px 5px -1px rgba(0, 0, 0, 0.47);
            @media (max-width: 480px) {
                padding: 8px;
                width: 45%;
            }
            &:hover {
                cursor: pointer;
            }
            img {
                margin: 0 auto 5px auto;
                width: 125px;
                height: 150px;

                @media (max-width: 800px) {         
                    width: 105px;
                    height: 133px;
                }
                @media (max-width: 480px) {
                    width: 85px;
                    height: 113px;
                }
            }
            .volunteer-offer-help-button {
                @include button(#e01e5a, white);
                font-weight: 400;
                padding: 10px 15px;
                margin: 0 auto;
                width: 180px;
                background: #e01e5a;
                border-radius: 6px;
                border: none;
                @media (max-width: 800px) {
                    font-size: 14px;
                    width: 140px;
                }
                @media (max-width: 480px) {
                    font-size: 12px;
                    width: 120px;
                }
            }
        }
    }
}
