@import "../../styles/variables";
@import "../../styles/mixins";


.volunteer-offer-help {
    height: calc(100vh - #{$header-nav-height});
    background: $background;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    position: relative;

    &__header-wrap {
        max-width: 700px;
        margin: 0 auto;
        text-align: center;
        padding-bottom: 60px;
        margin-top: 50px;


        h1{
            font-size: 36px;
            @media (max-width: 840px) {
                font-size: 28px;
             }
             @media (max-width: 480px) {
                font-size: 19px;
             }
        }

        p {
            padding-top: 10px;
            margin: 0 auto;
            max-width: 500px;

            @media (max-width: 800px) {
                font-size: 14px;
                max-width: 400px;
             }
             @media (max-width: 480px) {
                font-size: 12px;
                max-width: 300px;
             }
        }
    }

    &__form {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        width: 500px;
        @media (max-width: 800px) {
            width: 400px;
         }
         @media (max-width: 480px) {
            width: 300px;

         }
        input{
            @include text-field();
            margin-bottom: 15px;
            color: #333;
            @include rounded(0.07em);
            padding: 9px 10px;
            width: 100%;
            font-size: 0.8rem;
            font-weight: 300;
            font-family: $font-family;
            @include box-shadow(0, 0px, 3px, rgba(0, 0, 0, 0.2));
            border-radius: 6px;
            &::placeholder {
                font-size: 0.9rem;
                font-weight: 200;
                font-family: $font-family;
                color: gray;
            }
        }
        button {
            @include button($primary-color, $snow-white);
            background: $primary-color;
            margin: 0 auto;
            margin-top: 15px;
            font-weight: 400;
            padding: 7px 11px;
            font-size: .8rem;
            border-radius: 0;
            border-radius: 6px;  
            font-size: 1rem;
            width: 100px;          
            // line-height: .5;
          }
          .address-divider{
              display:flex;
              width: 520px;
              @media (max-width: 800px) {
                width: 420px;
             }
             @media (max-width: 480px) {
                width: 320px;
    
             }
              .address{
                  width: 84%;
                  margin-right: 20px;
              }

              .unit-number{
                  width: 16%;
              }
          }

          .form__error{
              color: red;
              font-size: .8rem;
          }
    }

    &__footnote {
        position: absolute;
        bottom: 10px;
        font-size: 1rem;
        width: 100%;
        left: 0;
        text-align: center;
        @media (max-width: 800px) {
            font-size: .9rem;

         }
         @media (max-width: 480px) {
            font-size: .4rem;

         }
        a {
            text-decoration: underline;
            @media (max-width: 800px) {
                font-size: .9rem;
    
             }
             @media (max-width: 480px) {
                font-size: .4rem;
    
             }
        }
    }
}
